body {
  background: #510418;
  animation: color-me-in 5s; /* other keywords like "infinite alternate" can be useful here */
  margin: 0%;
}

@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    background:orange;
  }
  /* You could think of as "step 2" */
  100% {
    background: #510418;
  }
}
.uplist{
  height: 25px;
  width:100%;
  background-color: black;
  padding: 10px ;
  position:fixed;
  margin-left: :0%;
}
.underuplist{
  width: 100%;
  height :50px;
  background-color: yellow;
  /* position:fixed; */
}
.underuplist1{
  width: 100%;
  height: 3px;
  background-color: #b2b09b;
}
.rightportion{
    height:20px;
    width:100%;
    position: relative;
    left: 25%;
    background-color:black;
    display: grid;
    grid-template-columns: 175px 150px 300px 155px;
}
.toplistbutton{
  background-color : black;
  text-align: center;
  font-size: 25px;
  display: inline-block;
  padding: 2.5px 50px ;
  color: #ffe500;
  border: none;
  font-family: 'Advent Pro';
  font-weight: 700;
}
.mood{
  background-color: yellow;
  color: black;
}
#quotebox{
  font-family: 'Akronim';
  position: relative;
  /* text-align: center; */
}
/* .image{
  width:100%;
  height:auto;
  /* opacity: 0.6; */
  /* filter: brightness(60%); */
}
.opClass {
    opacity:0.1;
    /* filter:alpha(opacity=40);  */
}
.toptext{
  text-align: center;
  color: #bbff00;
  margin-left: 8%;
  margin-top: 0%;
  font-size: 65px;
  position: absolute;
  top: 20%;
  letter-spacing: 4px;
  word-spacing: 9px;
  /* font-weight: 900; */
  /* transform: translate(-50%, -50%); */
}
.undertoptext{
  color: #ffd000;
  position: absolute;
  top: 79%;
  left: 60%;
  font-size: 74px;
  letter-spacing:3px;
  word-spacing: 9px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#image{
  width: 100%;

  height:auto;
  /* opacity: 0.6; */
  filter: brightness(60%);s
}
#overlay {
  /* position: fixed; */
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5); */
  z-index: 2;
  /* cursor: pointer; */
  /* border: solid cyan; */
}
.moodline{
  width:100%;
  text-align: center;
  height:45px;
  background-color: black;
  color: white;
  font-family: 'Aldrich';
}
.moods{
  width:100%;
  height:3600px;
  border: solid cyan;
}
.lilbox{
  width:100%;
  height:40px;
}
.moodbox{
  height:600px;
  width:100%;
  border: solid yellow;
}
h1{
  font-family: 'Barrio';
  background-color: grey;
  text-align: center;
}
.songlist{
  width:100%;
  height: 70px;
  border: solid lightgreen;
  display:grid;
}
.contacts{
  width:100%;
  height: 300px;
  background-color: black;
}
.contactbox{
  height:120px;
  margin-left: auto;
  margin-right: auto;
  width:500px;
}
.fa {
  padding: 30px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;

}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;

}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.bottomtext{
  font-size: 20px;
  text-align: center;
  color: grey;

}
