body{
  background-color: black;
  margin: 0%;
}
.uplist{
  border:  solid black ;
  height: 25px;
  width:100%;
  background-color: purple;
  padding: 10px ;
  position:fixed;
  margin-left: :0%;
}
.underuplist{
  width: 100%;
  height :60px;
  background-color: yellow;
}
.underuplist1{
  width: 100%;
  height: 3px;
  background-color: #b2b09b;
}
.rightportion{
    height:10px;
    width:1000px;
    position: relative;
    left: 25%;
    background-color: #80007cfa;
    display: grid;
    grid-template-columns: 175px 150px 300px 155px;
}
.toplistbutton{
  background-color : #80007cfa;
  text-align: center;
  font-size: 25px;
  display: inline-block;
  padding: 3px 50px ;
  color: #ffe500;
  border: none;
}







.scrolldownarrow{
  margin-left: 50%;

}
 .container{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: 250px;
   padding: 10px;
   margin-left: 15%;
}
 .box{
   border: 1px solid black;
   color: white;
   width: 200px;
   height: 200px;
   background-color: white;
}
#spongebob{
  width: 200px;
  height: 200px;
}
