body{
  background-color: black;
}
.uplist{
  border:  solid black ;
  height: 40px;
  width:100%;
  background-color: purple;
  padding: 10px ;
  position:fixed;
}

.rightportion{

    height:10px;
    width:975px;
    position: relative;
    left: 25%;
    background-color: #80007cfa;
    display: grid;
    grid-template-columns: 175px 150px 300px 150px;

}
.toplistbutton{
  background-color : #80007cfa;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  padding: 8px 50px ;
  color: pink;
  border: none;

}
 .container{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: 250px;
   padding: 10px;
   margin-left: 15%;
}
 .box{
   border: 1px solid black;
   color: white;
   width: 200px;
   height: 200px;
   background-color: white;
}
#spongebob{
  width: 200px;
  height: 200px;
}
#simpson{
  width: 200px;
  height: 200px;
}
#minion{
  width: 200px;
  height: 200px;
}
